/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Play';
	src: url('../fonts/Play-Regular.eot');
	src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
}
img {
	border: 0;
}
.clearfix:after, #contents:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 0;
}

@media (min-width:500px) {
	#header > div, #footer > div {
		width: 1030px;
		min-height: 100px;
		margin: 0 auto;
		padding: 0 20px;
	}
}
@media (max-width:499px) {
	#header > div, #footer > div {
/*		height: 60%;*/
		margin: 0 auto;
		padding: 0 20px;
	}
}
/** Logo **/
#header .logo {
	float: left;
	margin-right: 20px;
}

#header .logo a {
	background: url(../images/aika-logo.jpeg) no-repeat center center;
	background-size: cover;
	color: #000;
	display: block;
	font: 15px/30px 'Play';
	height: 100px;
	width: 100px;
	border-radius: 45%; /* Slightly rounded */
	text-decoration: none;
	text-transform: uppercase;
	text-indent: -9999px; /* Hides text to show only logo */
	overflow: hidden; /* Ensures circular crop */
}
/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
@media (min-width:500px) {
	#navigation li {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
}
@media (max-width:499px) {
	#navigation li {
		float: left;
		width: 300px;
		height: 60px;
		text-align: center;
	}
}
#navigation li a {
	color: #555;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
	font-weight: 500;
}
#navigation li a:hover {
	color: #f99600;
}
#navigation li.active a {
	color: #f99600;
	font-weight: 600;
}

.parse-button {
	position: absolute;
	margin-top: 15px;
	padding: 10px;
	font-size: 10pt;
}

.text-form {
	width: auto;
}

.text-field {
	width: auto;
}

.text-input {
	width: 100%;
	height: 100px;
	font-size: 12pt;
}

.v-spacer {
	padding-top: 60px;
}

/*------------------------------ CONTENTS ------------------------------*/
@media (min-width:500px) {
	#contents {
		min-height: 510px;
		width: 880px;
		margin: 0 auto;
		padding: 54px 40px;
	}
}
@media (max-width:499px) {
	#contents {
		min-height: 510px;
		width: 80%;
		margin: 50px auto;
		padding: 54px auto;
	}
}

.prettyprint-code {
	width: 810px;
}

h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}
h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}
p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}
li {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 0px;
}
p a {
	color: #585858;
}
#tagline h1 {
	margin-left: 20px;
}
#tagline > div {
	float: left;
	width: 400px;
	margin: 0 20px;
}
@media (min-width:500px) {
	#contents .features {
		width: 810px;
		margin: 0 auto;
	}
}
@media (max-width:499px) {
	#contents .features {
		width: 80%;
		margin: 0 auto;
	}
}
.features > div {
	display: inline-block;
	margin: 0 0 30px;
}
.features > div img {
	float: left;
	margin-right: 20px;
	margin-top: 36px;
}
.date {
	float: left;
	height: 78px;
	width: 70px;
	margin-right: 20px;
	border: 1px solid #d5d5d5;
	text-align: center;
}
.date p {
	margin: 12px 0 0;
}
.date p span {
	display: block;
	font-size: 30px;
	margin-bottom: 6px;
}
.author {
	color: #585858;
	display: block;
	font-size: 12px;
}
.more {
	background-color: #727272;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
	background-color: #f99600;
	color: #000;
}
/** main **/
.main {
	float: left;
	background: url(../images/divider.png) repeat-y right top;
	min-height: 100px;
	width: 620px;
	padding-right: 24px;
}
.main h1, .sidebar h1 {
	margin: 0 0 12px;
	position: relative;
	top: -18px;
}
.main h2 span {
	display: block;
	font-size: 12px;
}
/** sidebar **/
.sidebar {
	float: left;
	min-height: 848px;
	width: 216px;
	margin-left: 20px;
}
.sidebar ul, .news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li {
	border-top: 1px solid #d5d5d5;
	padding: 24px 30px 0 100px;
	position: relative;
}
.news li .date {
	float: none;
	position: absolute;
	left: 0;
	top: 30px;
}
.news li > p span, .post > span {
	display: block;
	text-align: right;
}
.posts {
	border-top: 1px solid #d5d5d5;
}
.posts li {
	border-bottom: 1px solid #d5d5d5;
	padding: 24px 10px 0;
}
.posts li p {
	font-size: 14px;
}
.posts li .title {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 12px;
}
.posts li .title a {
	color: #2c2c2c;
	font-size: 16px;
	text-decoration: none;
}
.post {
	width: 785px;
	margin: 0 auto;
}
.post h1 {
	padding-top: 12px;
}
#about {
	width: 740px;
	margin: 0 auto;
}
#about h1, .section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}
.section {
	float: left;
	width: 390px;
	margin-right: 50px;
}
.section h1 {
	margin-bottom: 18px;
}
.contact {
	background-color: #f8f8f8;
	width: 270px;
	padding: 124px 60px;
	text-align: center;
}
.contact p span {
	color: #2c2c2c;
	display: block;
	font-size: 30px;
	line-height: 36px;
	padding: 18px 0;
}
